<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mask Dection And Face Recognition</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="faceShow">
        <img src="{{ url_for('video_feed') }}">
    </div>

<footer class="container-fluid text-center">
    <p>Power by © 2020 NUS Practice Developer Group28 All Rights Reserved</p>
</footer>

</body>
</html>
