{% extends 'base.html' %}

{% block content %}


<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <li class="nav-item active">
                <a class="nav-link" href="/staticstream">
                    <span>Image Encoding</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/imageprocess">
                    <span>Image Process</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/folderscan">
                    <span>Folder Scan</span></a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="container-fluid">
        <div id="page-content-wrapper">
            <div id="content">

                <div class="container-fluid" id="main">
                    <h2 class="text-center">Please upload an image to process</h2>
                    <form action="/uploadfile" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="custom-file">
                                <input id="uploadFile" name="uploadFile" type="file" multiple >
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-lg btn-success btn-uploadfile-3"><i class="fa fa-upload"></i> Upload</button>
                            <button type="button" class="btn btn-lg btn-secondary btn-resetfile-3"><i class="fa fa-ban"></i> Clear</button>
                        </div>
                    </form>

                    <div id="processresultdiv" >
                        <hr>
                        <div class="form-group row">
                            <label class="col-sm-3"><span>Process Result</span></label>
                            <div class="col-sm-9">
                                <a id="downloadbtn" href="#" class="btn btn-primary" role ="button">Download</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->
</div>

{% endblock %}
